.layout {
   display: grid;
   grid-template-areas: 
   "header header"
   "aside main"
   "footer footer"
   ;
   
   gap: 20px;
   grid-template-columns: 1fr 3fr;
}

header {grid-area: header; background-color: orange;}
aside {grid-area: aside; background-color: green;}
main {grid-area: main; background-color: skyblue;}
footer {grid-area: footer; background-color: violet;}

.layout > *{
    padding: 20px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}



